<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.DirectDiscountMapper">
    
    <resultMap type="DirectDiscount" id="DirectDiscountResult">
        <result property="id"    column="id"    />
        <result property="priceMin"    column="price_min"    />
        <result property="priceMax"    column="price_max"    />
        <result property="fixedPrice"    column="fixed_price"    />
        <result property="deductionAmount"    column="deduction_amount"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="actualDiscountAmount"    column="actual_discount_amount"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectDirectDiscountVo">
        select id, price_min, price_max, fixed_price, deduction_amount, discount_rate, actual_discount_amount, gmt_create, gmt_modified from direct_discount
    </sql>

    <select id="selectDirectDiscountList" parameterType="DirectDiscount" resultMap="DirectDiscountResult">
        <include refid="selectDirectDiscountVo"/>
        <where>  
            <if test="priceMin != null "> and price_min = #{priceMin}</if>
            <if test="priceMax != null "> and price_max = #{priceMax}</if>
            <if test="fixedPrice != null "> and fixed_price = #{fixedPrice}</if>
            <if test="deductionAmount != null "> and deduction_amount = #{deductionAmount}</if>
            <if test="discountRate != null "> and discount_rate = #{discountRate}</if>
            <if test="actualDiscountAmount != null "> and actual_discount_amount = #{actualDiscountAmount}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectDirectDiscountById" parameterType="String" resultMap="DirectDiscountResult">
        <include refid="selectDirectDiscountVo"/>
        where id = #{id}
    </select>

    <insert id="insertDirectDiscount" parameterType="DirectDiscount">
        insert into direct_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="priceMin != null">price_min,</if>
            <if test="priceMax != null">price_max,</if>
            <if test="fixedPrice != null">fixed_price,</if>
            <if test="deductionAmount != null">deduction_amount,</if>
            <if test="discountRate != null">discount_rate,</if>
            <if test="actualDiscountAmount != null">actual_discount_amount,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="priceMin != null">#{priceMin},</if>
            <if test="priceMax != null">#{priceMax},</if>
            <if test="fixedPrice != null">#{fixedPrice},</if>
            <if test="deductionAmount != null">#{deductionAmount},</if>
            <if test="discountRate != null">#{discountRate},</if>
            <if test="actualDiscountAmount != null">#{actualDiscountAmount},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateDirectDiscount" parameterType="DirectDiscount">
        update direct_discount
        <trim prefix="SET" suffixOverrides=",">
            <if test="priceMin != null">price_min = #{priceMin},</if>
            <if test="priceMax != null">price_max = #{priceMax},</if>
            <if test="fixedPrice != null">fixed_price = #{fixedPrice},</if>
            <if test="deductionAmount != null">deduction_amount = #{deductionAmount},</if>
            <if test="discountRate != null">discount_rate = #{discountRate},</if>
            <if test="actualDiscountAmount != null">actual_discount_amount = #{actualDiscountAmount},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDirectDiscountById" parameterType="String">
        delete from direct_discount where id = #{id}
    </delete>

    <delete id="deleteDirectDiscountByIds" parameterType="String">
        delete from direct_discount where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>