<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.GoodsRevisionMapper">
    
    <resultMap type="GoodsRevision" id="GoodsRevisionResult">
        <result property="revisionId"    column="revision_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="revStatus"    column="rev_status"    />
        <result property="revisionType"    column="revision_type"    />
        <result property="isCurrent"    column="is_current"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectGoodsRevisionVo">
        select revision_id, goods_id, rev_status, revision_type, is_current, gmt_create, gmt_modified from goods_revision
    </sql>

    <select id="selectGoodsRevisionList" parameterType="GoodsRevision" resultMap="GoodsRevisionResult">
        <include refid="selectGoodsRevisionVo"/>
        <where>  
            <if test="goodsId != null  and goodsId != ''"> and goods_id = #{goodsId}</if>
            <if test="revStatus != null  and revStatus != ''"> and rev_status = #{revStatus}</if>
            <if test="revisionType != null  and revisionType != ''"> and revision_type = #{revisionType}</if>
            <if test="isCurrent != null "> and is_current = #{isCurrent}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectGoodsRevisionByRevisionId" parameterType="String" resultMap="GoodsRevisionResult">
        <include refid="selectGoodsRevisionVo"/>
        where revision_id = #{revisionId}
    </select>

    <insert id="insertGoodsRevision" parameterType="GoodsRevision">
        insert into goods_revision
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="revisionId != null">revision_id,</if>
            <if test="goodsId != null and goodsId != ''">goods_id,</if>
            <if test="revStatus != null">rev_status,</if>
            <if test="revisionType != null">revision_type,</if>
            <if test="isCurrent != null">is_current,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="revisionId != null">#{revisionId},</if>
            <if test="goodsId != null and goodsId != ''">#{goodsId},</if>
            <if test="revStatus != null">#{revStatus},</if>
            <if test="revisionType != null">#{revisionType},</if>
            <if test="isCurrent != null">#{isCurrent},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateGoodsRevision" parameterType="GoodsRevision">
        update goods_revision
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null and goodsId != ''">goods_id = #{goodsId},</if>
            <if test="revStatus != null">rev_status = #{revStatus},</if>
            <if test="revisionType != null">revision_type = #{revisionType},</if>
            <if test="isCurrent != null">is_current = #{isCurrent},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where revision_id = #{revisionId}
    </update>

    <delete id="deleteGoodsRevisionByRevisionId" parameterType="String">
        delete from goods_revision where revision_id = #{revisionId}
    </delete>

    <delete id="deleteGoodsRevisionByRevisionIds" parameterType="String">
        delete from goods_revision where revision_id in 
        <foreach item="revisionId" collection="array" open="(" separator="," close=")">
            #{revisionId}
        </foreach>
    </delete>

    <select id="selectFrozenRevisionByGoodsId" parameterType="String" resultMap="GoodsRevisionResult">
        <include refid="selectGoodsRevisionVo"/>
        where goods_id = #{goodsId} and rev_status = 'frozen'
    </select>

    <select id="selectEditingRevisionByGoodsId" parameterType="String" resultMap="GoodsRevisionResult">
        <include refid="selectGoodsRevisionVo"/>
        where goods_id = #{goodsId} and rev_status = 'editing'
    </select>

</mapper>