<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ItemTaskMapper">
    
    <resultMap type="ItemTask" id="ItemTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="bizId"    column="biz_id"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectItemTaskVo">
        select task_id, task_code, biz_id, task_status, gmt_create, gmt_modified from item_task
    </sql>

    <select id="selectItemTaskList" parameterType="ItemTask" resultMap="ItemTaskResult">
        <include refid="selectItemTaskVo"/>
        <where>  
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="bizId != null  and bizId != ''"> and biz_id = #{bizId}</if>
            <if test="taskStatus != null  and taskStatus != ''"> and task_status = #{taskStatus}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectItemTaskByTaskId" parameterType="String" resultMap="ItemTaskResult">
        <include refid="selectItemTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertItemTask" parameterType="ItemTask">
        insert into item_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="taskCode != null and taskCode != ''">task_code,</if>
            <if test="bizId != null and bizId != ''">biz_id,</if>
            <if test="taskStatus != null and taskStatus != ''">task_status,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="taskCode != null and taskCode != ''">#{taskCode},</if>
            <if test="bizId != null and bizId != ''">#{bizId},</if>
            <if test="taskStatus != null and taskStatus != ''">#{taskStatus},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateItemTask" parameterType="ItemTask">
        update item_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskCode != null and taskCode != ''">task_code = #{taskCode},</if>
            <if test="bizId != null and bizId != ''">biz_id = #{bizId},</if>
            <if test="taskStatus != null and taskStatus != ''">task_status = #{taskStatus},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteItemTaskByTaskId" parameterType="String">
        delete from item_task where task_id = #{taskId}
    </delete>

    <delete id="deleteItemTaskByTaskIds" parameterType="String">
        delete from item_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>