<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.NewUserGiftProductMapper">
    
    <resultMap type="NewUserGiftProduct" id="NewUserGiftProductResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="shopProductId"    column="shop_product_id"    />
        <result property="avgAmount"    column="avg_amount"    />
        <result property="maxGiftAmount"    column="max_gift_amount"    />
        <result property="itemStatus"    column="item_status"    />
        <result property="addedTime"    column="added_time"    />
        <result property="removedTime"    column="removed_time"    />
        <result property="platformSyncStatus"    column="platform_sync_status"    />
        <result property="platformErrorMsg"    column="platform_error_msg"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectNewUserGiftProductVo">
        select id, activity_id, shop_product_id, avg_amount, max_gift_amount, item_status, added_time, removed_time, platform_sync_status, platform_error_msg, gmt_create, gmt_modified from new_user_gift_product
    </sql>

    <select id="selectNewUserGiftProductList" parameterType="NewUserGiftProduct" resultMap="NewUserGiftProductResult">
        <include refid="selectNewUserGiftProductVo"/>
        <where>  
            <if test="activityId != null  and activityId != ''"> and activity_id = #{activityId}</if>
            <if test="shopProductId != null  and shopProductId != ''"> and shop_product_id = #{shopProductId}</if>
            <if test="avgAmount != null "> and avg_amount = #{avgAmount}</if>
            <if test="maxGiftAmount != null "> and max_gift_amount = #{maxGiftAmount}</if>
            <if test="itemStatus != null  and itemStatus != ''"> and item_status = #{itemStatus}</if>
            <if test="addedTime != null "> and added_time = #{addedTime}</if>
            <if test="removedTime != null "> and removed_time = #{removedTime}</if>
            <if test="platformSyncStatus != null  and platformSyncStatus != ''"> and platform_sync_status = #{platformSyncStatus}</if>
            <if test="platformErrorMsg != null  and platformErrorMsg != ''"> and platform_error_msg = #{platformErrorMsg}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectNewUserGiftProductById" parameterType="String" resultMap="NewUserGiftProductResult">
        <include refid="selectNewUserGiftProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertNewUserGiftProduct" parameterType="NewUserGiftProduct">
        insert into new_user_gift_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="activityId != null and activityId != ''">activity_id,</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id,</if>
            <if test="avgAmount != null">avg_amount,</if>
            <if test="maxGiftAmount != null">max_gift_amount,</if>
            <if test="itemStatus != null">item_status,</if>
            <if test="addedTime != null">added_time,</if>
            <if test="removedTime != null">removed_time,</if>
            <if test="platformSyncStatus != null">platform_sync_status,</if>
            <if test="platformErrorMsg != null">platform_error_msg,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="activityId != null and activityId != ''">#{activityId},</if>
            <if test="shopProductId != null and shopProductId != ''">#{shopProductId},</if>
            <if test="avgAmount != null">#{avgAmount},</if>
            <if test="maxGiftAmount != null">#{maxGiftAmount},</if>
            <if test="itemStatus != null">#{itemStatus},</if>
            <if test="addedTime != null">#{addedTime},</if>
            <if test="removedTime != null">#{removedTime},</if>
            <if test="platformSyncStatus != null">#{platformSyncStatus},</if>
            <if test="platformErrorMsg != null">#{platformErrorMsg},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateNewUserGiftProduct" parameterType="NewUserGiftProduct">
        update new_user_gift_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null and activityId != ''">activity_id = #{activityId},</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id = #{shopProductId},</if>
            <if test="avgAmount != null">avg_amount = #{avgAmount},</if>
            <if test="maxGiftAmount != null">max_gift_amount = #{maxGiftAmount},</if>
            <if test="itemStatus != null">item_status = #{itemStatus},</if>
            <if test="addedTime != null">added_time = #{addedTime},</if>
            <if test="removedTime != null">removed_time = #{removedTime},</if>
            <if test="platformSyncStatus != null">platform_sync_status = #{platformSyncStatus},</if>
            <if test="platformErrorMsg != null">platform_error_msg = #{platformErrorMsg},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewUserGiftProductById" parameterType="String">
        delete from new_user_gift_product where id = #{id}
    </delete>

    <delete id="deleteNewUserGiftProductByIds" parameterType="String">
        delete from new_user_gift_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>