<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.PlatformPromotionProductMapper">
    
    <resultMap type="PlatformPromotionProduct" id="PlatformPromotionProductResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="shopProductId"    column="shop_product_id"    />
        <result property="itemStatus"    column="item_status"    />
        <result property="addedTime"    column="added_time"    />
        <result property="removedTime"    column="removed_time"    />
        <result property="platformSyncStatus"    column="platform_sync_status"    />
        <result property="platformErrorMsg"    column="platform_error_msg"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectPlatformPromotionProductVo">
        select id, activity_id, shop_product_id, item_status, added_time, removed_time, platform_sync_status, platform_error_msg, gmt_create, gmt_modified from platform_promotion_product
    </sql>

    <select id="selectPlatformPromotionProductList" parameterType="PlatformPromotionProduct" resultMap="PlatformPromotionProductResult">
        <include refid="selectPlatformPromotionProductVo"/>
        <where>  
            <if test="activityId != null  and activityId != ''"> and activity_id = #{activityId}</if>
            <if test="shopProductId != null  and shopProductId != ''"> and shop_product_id = #{shopProductId}</if>
            <if test="itemStatus != null  and itemStatus != ''"> and item_status = #{itemStatus}</if>
            <if test="addedTime != null "> and added_time = #{addedTime}</if>
            <if test="removedTime != null "> and removed_time = #{removedTime}</if>
            <if test="platformSyncStatus != null  and platformSyncStatus != ''"> and platform_sync_status = #{platformSyncStatus}</if>
            <if test="platformErrorMsg != null  and platformErrorMsg != ''"> and platform_error_msg = #{platformErrorMsg}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectPlatformPromotionProductById" parameterType="String" resultMap="PlatformPromotionProductResult">
        <include refid="selectPlatformPromotionProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertPlatformPromotionProduct" parameterType="PlatformPromotionProduct">
        insert into platform_promotion_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="activityId != null and activityId != ''">activity_id,</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id,</if>
            <if test="itemStatus != null">item_status,</if>
            <if test="addedTime != null">added_time,</if>
            <if test="removedTime != null">removed_time,</if>
            <if test="platformSyncStatus != null">platform_sync_status,</if>
            <if test="platformErrorMsg != null">platform_error_msg,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="activityId != null and activityId != ''">#{activityId},</if>
            <if test="shopProductId != null and shopProductId != ''">#{shopProductId},</if>
            <if test="itemStatus != null">#{itemStatus},</if>
            <if test="addedTime != null">#{addedTime},</if>
            <if test="removedTime != null">#{removedTime},</if>
            <if test="platformSyncStatus != null">#{platformSyncStatus},</if>
            <if test="platformErrorMsg != null">#{platformErrorMsg},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updatePlatformPromotionProduct" parameterType="PlatformPromotionProduct">
        update platform_promotion_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null and activityId != ''">activity_id = #{activityId},</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id = #{shopProductId},</if>
            <if test="itemStatus != null">item_status = #{itemStatus},</if>
            <if test="addedTime != null">added_time = #{addedTime},</if>
            <if test="removedTime != null">removed_time = #{removedTime},</if>
            <if test="platformSyncStatus != null">platform_sync_status = #{platformSyncStatus},</if>
            <if test="platformErrorMsg != null">platform_error_msg = #{platformErrorMsg},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlatformPromotionProductById" parameterType="String">
        delete from platform_promotion_product where id = #{id}
    </delete>

    <delete id="deletePlatformPromotionProductByIds" parameterType="String">
        delete from platform_promotion_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>