<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.PricingMultiplierMapper">
    
    <resultMap type="PricingMultiplier" id="PricingMultiplierResult">
        <result property="id"    column="id"    />
        <result property="priceMin"    column="price_min"    />
        <result property="priceMax"    column="price_max"    />
        <result property="multiplier"    column="multiplier"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectPricingMultiplierVo">
        select id, price_min, price_max, multiplier, gmt_create, gmt_modified from pricing_multiplier
    </sql>

    <select id="selectPricingMultiplierList" parameterType="PricingMultiplier" resultMap="PricingMultiplierResult">
        <include refid="selectPricingMultiplierVo"/>
        <where>  
            <if test="priceMin != null "> and price_min = #{priceMin}</if>
            <if test="priceMax != null "> and price_max = #{priceMax}</if>
            <if test="multiplier != null "> and multiplier = #{multiplier}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectPricingMultiplierById" parameterType="String" resultMap="PricingMultiplierResult">
        <include refid="selectPricingMultiplierVo"/>
        where id = #{id}
    </select>

    <insert id="insertPricingMultiplier" parameterType="PricingMultiplier">
        insert into pricing_multiplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="priceMin != null">price_min,</if>
            <if test="priceMax != null">price_max,</if>
            <if test="multiplier != null">multiplier,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="priceMin != null">#{priceMin},</if>
            <if test="priceMax != null">#{priceMax},</if>
            <if test="multiplier != null">#{multiplier},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updatePricingMultiplier" parameterType="PricingMultiplier">
        update pricing_multiplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="priceMin != null">price_min = #{priceMin},</if>
            <if test="priceMax != null">price_max = #{priceMax},</if>
            <if test="multiplier != null">multiplier = #{multiplier},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePricingMultiplierById" parameterType="String">
        delete from pricing_multiplier where id = #{id}
    </delete>

    <delete id="deletePricingMultiplierByIds" parameterType="String">
        delete from pricing_multiplier where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>