<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.PriceReferenceMapper">
    
    <resultMap type="PriceReference" id="PriceReferenceResult">
        <result property="id"    column="id"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="multiplier"    column="multiplier"    />
        <result property="originalMarkedPrice"    column="original_marked_price"    />
        <result property="effectiveMarkedPrice"    column="effective_marked_price"    />
        <result property="referenceShippingFee"    column="reference_shipping_fee"    />
        <result property="actualDiscountAmount"    column="actual_discount_amount"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectPriceReferenceVo">
        select id, original_price, multiplier, original_marked_price, effective_marked_price, reference_shipping_fee, actual_discount_amount, gmt_create, gmt_modified from price_reference
    </sql>

    <select id="selectPriceReferenceList" parameterType="PriceReference" resultMap="PriceReferenceResult">
        <include refid="selectPriceReferenceVo"/>
        <where>  
            <if test="originalPrice != null "> and original_price = #{originalPrice}</if>
            <if test="multiplier != null "> and multiplier = #{multiplier}</if>
            <if test="originalMarkedPrice != null "> and original_marked_price = #{originalMarkedPrice}</if>
            <if test="effectiveMarkedPrice != null "> and effective_marked_price = #{effectiveMarkedPrice}</if>
            <if test="referenceShippingFee != null "> and reference_shipping_fee = #{referenceShippingFee}</if>
            <if test="actualDiscountAmount != null "> and actual_discount_amount = #{actualDiscountAmount}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectPriceReferenceById" parameterType="String" resultMap="PriceReferenceResult">
        <include refid="selectPriceReferenceVo"/>
        where id = #{id}
    </select>

    <insert id="insertPriceReference" parameterType="PriceReference">
        insert into price_reference
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="multiplier != null">multiplier,</if>
            <if test="originalMarkedPrice != null">original_marked_price,</if>
            <if test="effectiveMarkedPrice != null">effective_marked_price,</if>
            <if test="referenceShippingFee != null">reference_shipping_fee,</if>
            <if test="actualDiscountAmount != null">actual_discount_amount,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="multiplier != null">#{multiplier},</if>
            <if test="originalMarkedPrice != null">#{originalMarkedPrice},</if>
            <if test="effectiveMarkedPrice != null">#{effectiveMarkedPrice},</if>
            <if test="referenceShippingFee != null">#{referenceShippingFee},</if>
            <if test="actualDiscountAmount != null">#{actualDiscountAmount},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updatePriceReference" parameterType="PriceReference">
        update price_reference
        <trim prefix="SET" suffixOverrides=",">
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="multiplier != null">multiplier = #{multiplier},</if>
            <if test="originalMarkedPrice != null">original_marked_price = #{originalMarkedPrice},</if>
            <if test="effectiveMarkedPrice != null">effective_marked_price = #{effectiveMarkedPrice},</if>
            <if test="referenceShippingFee != null">reference_shipping_fee = #{referenceShippingFee},</if>
            <if test="actualDiscountAmount != null">actual_discount_amount = #{actualDiscountAmount},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePriceReferenceById" parameterType="String">
        delete from price_reference where id = #{id}
    </delete>

    <delete id="deletePriceReferenceByIds" parameterType="String">
        delete from price_reference where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>