<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ShopListingSpuMapper">
    
    <resultMap type="ShopListingSpu" id="ShopListingSpuResult">
        <result property="listingSpuId"    column="listing_spu_id"    />
        <result property="revisionId"    column="revision_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="shopProductId"    column="shop_product_id"    />
        <result property="category"    column="category"    />
        <result property="productUrl"    column="product_url"    />
        <result property="currStatus"    column="curr_status"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectShopListingSpuVo">
        select listing_spu_id, revision_id, shop_id, shop_product_id, category, product_url, curr_status, gmt_create, gmt_modified from shop_listing_spu
    </sql>

    <select id="selectShopListingSpuList" parameterType="ShopListingSpu" resultMap="ShopListingSpuResult">
        <include refid="selectShopListingSpuVo"/>
        <where>  
            <if test="revisionId != null  and revisionId != ''"> and revision_id = #{revisionId}</if>
            <if test="shopId != null  and shopId != ''"> and shop_id = #{shopId}</if>
            <if test="shopProductId != null  and shopProductId != ''"> and shop_product_id = #{shopProductId}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="productUrl != null  and productUrl != ''"> and product_url = #{productUrl}</if>
            <if test="currStatus != null  and currStatus != ''"> and curr_status = #{currStatus}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
    
    <select id="selectShopListingSpuByListingSpuId" parameterType="String" resultMap="ShopListingSpuResult">
        <include refid="selectShopListingSpuVo"/>
        where listing_spu_id = #{listingSpuId}
    </select>

    <insert id="insertShopListingSpu" parameterType="ShopListingSpu">
        insert into shop_listing_spu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="listingSpuId != null">listing_spu_id,</if>
            <if test="revisionId != null and revisionId != ''">revision_id,</if>
            <if test="shopId != null and shopId != ''">shop_id,</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id,</if>
            <if test="category != null">category,</if>
            <if test="productUrl != null">product_url,</if>
            <if test="currStatus != null and currStatus != ''">curr_status,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="listingSpuId != null">#{listingSpuId},</if>
            <if test="revisionId != null and revisionId != ''">#{revisionId},</if>
            <if test="shopId != null and shopId != ''">#{shopId},</if>
            <if test="shopProductId != null and shopProductId != ''">#{shopProductId},</if>
            <if test="category != null">#{category},</if>
            <if test="productUrl != null">#{productUrl},</if>
            <if test="currStatus != null and currStatus != ''">#{currStatus},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateShopListingSpu" parameterType="ShopListingSpu">
        update shop_listing_spu
        <trim prefix="SET" suffixOverrides=",">
            <if test="revisionId != null and revisionId != ''">revision_id = #{revisionId},</if>
            <if test="shopId != null and shopId != ''">shop_id = #{shopId},</if>
            <if test="shopProductId != null and shopProductId != ''">shop_product_id = #{shopProductId},</if>
            <if test="category != null">category = #{category},</if>
            <if test="productUrl != null">product_url = #{productUrl},</if>
            <if test="currStatus != null and currStatus != ''">curr_status = #{currStatus},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where listing_spu_id = #{listingSpuId}
    </update>

    <delete id="deleteShopListingSpuByListingSpuId" parameterType="String">
        delete from shop_listing_spu where listing_spu_id = #{listingSpuId}
    </delete>

    <delete id="deleteShopListingSpuByListingSpuIds" parameterType="String">
        delete from shop_listing_spu where listing_spu_id in 
        <foreach item="listingSpuId" collection="array" open="(" separator="," close=")">
            #{listingSpuId}
        </foreach>
    </delete>
</mapper>